@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Light mode (default) */
html {
  background-color: rgb(249 250 251);
  color: rgb(17 24 39);
}

/* Dark mode */
html.dark {
  background-color: rgb(17 24 39);
  color: rgb(243 244 246);
}
